body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
  background: #e5e5e5;
}
:root {
  --brand-color: #2196f3;
  --white: #ffffff;
  --grey: #757575;
  --black: #000000;
  --less-black: #2f303a;
  --white-grey: rgba(255, 255, 255, 0.6);
  --less-white: #f5f4fa;
}
.background-header {
  width: 1600px;
  height: 160px;
  left: 0px;
  top: 0px;
  background-color: var(--white);
}
.logotype-webstudio-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--black);
}
.logotype-web {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  color: var(--brand-color);
}
.first-section-index {
  background-color: var(--less-black);
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.first-section-text {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.second-section-haeding {
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.second-section-text {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.second-section-second-text {
  width: 352px;
  height: 42px;
  left: 624px;
  top: 969px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 41px 10px 41px;
}
.third-section {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background-color: var(--less-white);
}
.third-section-heading {
  width: 210px;
  height: 42px;
  left: 695px;
  top: 1543px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 41px 10px 41px;
}
.third-section-heading-text {
  width: 72px;
  height: 19px;
  left: 314px;
  top: 1925px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.third-section-job-titles {
  width: 87px;
  height: 19px;
  left: 1207px;
  top: 1954px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.button-order {
  background: var(--brand-color);
  border: var(--brand-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white);
  cursor: pointer;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-portfolio {
  color: var(--brand-color);
}
.link-index {
  color: var(--brand-color);
}
.link-contact-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.buttons:hover,
.buttons:focus {
  border-color: var(--brand-color);
}
.links:hover,
.links:focus {
  color: var(--brand-color);
}
.button-all {
  color: var(--white);
  background: var(--brand-color);
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-pages {
  background-color: var(--less-white);
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  border-radius: 4px;
}
.button-aplications {
  background-color: var(--less-white);
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;
  border-radius: 4px;
}
.button-design {
  background-color: var(--less-white);
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;
  border-radius: 4px;
}
.button-marketing {
  background-color: var(--less-white);
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
  border-radius: 4px;
}
.projects {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.project-sections {
  color: var(--grey);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.background-footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background-color: var(--less-black);
}
.logotype-webstudio-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.address {
  color: var(--white);
  font-family: 'Roboto';
  font-style: normal;
  width: 247px;
  height: 21px;
  left: 215px;
  top: 1739px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.link-contact-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--white-grey);
}
