body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
  background: #e5e5e5;
}
:root {
  --brand-color: #2196f3;
  --white: #ffffff;
  --grey: #757575;
  --black: #000000;
  --less-black: #2f303a;
  --white-grey: rgba(255, 255, 255, 0.6);
  --less-white: #f5f4fa;
}
.background-header {
  width: 1600px;
  height: 160px;
  left: 0px;
  top: 0px;
  background-color: var(--white);
}
.logotype-webstudio-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--black);
}
.logotype-web {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  color: var(--brand-color);
}
.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-portfolio {
  color: var(--brand-color);
}
.link-contact-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.buttons:hover,
.buttons:focus {
  border-color: var(--brand-color);
}
.links:hover,
.links:focus {
  color: var(--brand-color);
}
.button-all {
  color: var(--white);
  background: var(--brand-color);
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-pages {
  background-color: var(--less-white);
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  border-radius: 4px;
}
.button-aplications {
  background-color: var(--less-white);
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;
  border-radius: 4px;
}
.button-design {
  background-color: var(--less-white);
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;
  border-radius: 4px;
}
.button-marketing {
  background-color: var(--less-white);
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
  border-radius: 4px;
}
.background-footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background-color: var(--less-black);
}
.logotype-webstudio-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.address {
  color: var(--white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.link-contact-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--white-grey);
}
